.term {
    display: none;
    position: absolute;
    top: 70%;
    z-index: 7;
    transform: translate(5%, -70%);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 10px;
    color: rgba(255,255,255,0.8);
    float: right;
    width: 50%;
    height: 60%;
    background: rgba(10,10,10,0.4);
    backdrop-filter: blur(10px);
}

.term:hover {
    border: 2px solid rgba(10,10,10,0.4);
}

.term > textarea {
    width: 100%;
    height: 100%;
    background: none;
    border: none;
    outline-style: none;
    resize:none
}

.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: none;
    position: absolute;
    top: 50%;
    z-index: 7;
    transform: translate(5%, -70%);
    border-radius: 10px;
    box-sizing: border-box;
    padding: 20px;
    color: rgba(255,255,255,0.8);
    float: right;
    width: 400px;
    min-height: 200px;
    height: auto;
    line-height: 250%;
    background: linear-gradient(to right,rgba(159, 130, 255, 0.5),rgba(69, 180, 249, 0.5));
    backdrop-filter: blur(10px);
}
