li{
	list-style: none;
}

.rightmenu{
	width: 250px;
	background: rgba(255,255,255,0.6);
	border-radius: 10px;
    backdrop-filter: blur(5px);
	position: fixed;
	box-sizing: border-box;
	display: none;
	z-index: 7;
}

.rightmenu ul{
	border-bottom: 1px solid rgba(255,255,255,0.6);
    border-radius: 10px;
}

.rightmenu ul li{
	height: 30px;
	line-height: 30px;
	color: rgba(0,0,0,0.7);
	padding: 0 25px;
	box-sizing: border-box;
	margin: 2px 0;
	cursor: default;
}

.rightmenu ul li:hover{
	background: rgba(255,255,255,0.6);
    margin-left: 2px;
    margin-right: 2px;
    border-radius: 10px;
}

/* .rightmenu ul li a{
	font-size: 12px;
	color: rgba(0,0,0,0.7);
	cursor: default;
	text-decoration: none;
} */

.rightmenu ul li span{
	float: left;
	font-size: 12px;
	color: rgba(0,0,0,0.8);
}
